- content_for :title_header do
  %h1
    = t("layouts.admin.admin")
    = "-"
    = t("admin.communities.manage_members.manage_members")

= render :partial => "admin/left_hand_navigation", :locals => { :links => admin_links_for(@current_community) }

#person_settings_form.left-navi-section.settings-section
  %p
    You have edit currency of
    = link_to(@member.username, @member) + "."

  = form_for @member, url: admin_community_community_membership_path(@current_community.id, @service.membership.id) do |form|
    .inline-label-container
      = form.label :currency
    = form.collection_select(:currency_id, Currency.supports, :id, :code, { :prompt => 'Select a Currency' })

    = form.button t("settings.save_information"), :class => "send_button"