- content_for :javascript do
  ST.initializeManageMembers();

- content_for :title_header do
  %h1
    = t("layouts.admin.admin")
    = "-"
    = t("admin.communities.manage_members.manage_members")

= render :partial => "admin/left_hand_navigation", :locals => { :links => admin_links_for(@current_community) }

- content_for :ajax_update do
  #admin-members-saving-posting-allowed.ajax-update-notice
    %span.ajax-update-icon{:class => "#{icon_class("loading")} icon-fix" }
    %span.ajax-update-text
      = t("admin.communities.manage_members.saving_user_status")
  #admin-members-saved-posting-allowed.ajax-update-success
    %span.ajax-update-icon{:class => "#{icon_class("check")} icon-fix" }
    %span.ajax-update-text
      = t("admin.communities.manage_members.save_user_status_successful")
  #admin-members-error-posting-allowed.ajax-update-error
    = t("admin.communities.manage_members.save_user_status_error")

= render :partial => "layouts/ajax_update_notification"

.left-navi-section
  %h2= t("admin.communities.manage_members.manage_members", :community_name => @current_community.name(I18n.locale))

  = form_tag '', :method => :get do
    .row
      .col-6
        = text_field_tag :q, params[:q], placeholder: t('admin.communities.manage_members.search_by_name_email')
      .col-3.status-select-wrapper
        .status-select-button
          = @service.presenter_selected_statuses_title

        .status-select-dropdown
          .status-select-line.reset{data: {status: 'all'}}
            = @service.presenter_selected_statuses_title
          - @service.presenter_sorted_statuses.each do |status, status_translation, checked|
            .status-select-line{class: checked ? 'selected' : '', data: {status: status}}
              = check_box_tag "status[]", status, checked, id: "status-#{status}"
              = status_translation
      .col-3
        = submit_tag t("admin.communities.manage_members.search"), class: 'button search-button'
        = link_to    t("admin.communities.manage_members.reset_search"), admin_community_community_memberships_path(@current_community.id)

  - if params[:q].blank?
    #export-as-csv.right= link_to(" " + t("admin.communities.manage_members.export_all_as_csv"), {format: :csv}, {class: "js-users-csv-export " + icon_class("download")})

  %span#admin_members_count
    = AdminCommunityMembershipsViewUtils.community_members_entries_info(@current_community.id, @service.memberships).html_safe
    - if params[:q].present?
      = t("admin.communities.manage_members.for_search_terms", terms: "<strong>#{h params[:q]}</strong>".html_safe).html_safe

  %form
    %table#admin_members_list
      %thead
        %tr
          %th= render partial: "layouts/sort_link", locals: { column: "name", direction: sort_link_direction("name"), title: t("admin.communities.manage_members.name") }
          %th= render partial: "layouts/sort_link", locals: { column: "display_name", direction: sort_link_direction("display_name"), title: t("admin.communities.manage_members.display_name")}
          %th= render partial: "layouts/sort_link", locals: { column: "email", direction: sort_link_direction("email"), title: t("admin.communities.manage_members.email") }
          %th= render partial: "layouts/sort_link", locals: { column: "currency", direction: sort_link_direction("currency"), title: "Currency" }
          %th= render partial: "layouts/sort_link", locals: { column: "join_date", direction: sort_link_direction("join_date"), title: t("admin.communities.manage_members.join_date") }
          - if @current_community.require_verification_to_post_listings
            %th{:style => "text-align: center"}= render partial: "layouts/sort_link", locals: { column: "posting_allowed", direction: sort_link_direction("posting_allowed"), title: t("admin.communities.manage_members.posting_allowed") }
          %th= t("admin.communities.manage_members.admin")
          %th= t("admin.communities.manage_members.ban_user")
          %th
      %tbody
        - @service.memberships.each do |membership|
          - member = membership.person
          - unless member.blank?
            %tr{class: "member-#{membership.status}"}
              %td.admin-members-full-name
                = link_to [member.given_name, member.family_name].join(" "), member
              %td
                = member.display_name
              %td
                = mail_to member.confirmed_notification_email_addresses.first
              %td
                - if member.currency.present?
                  = member.currency.code
              %td
                %span= l(membership.created_at, format: :short_date)
              - if @current_community.require_verification_to_post_listings
                %td{:style => "text-align: center"}= check_box_tag "posting-allowed[#{member.id}]", member.id, membership.can_post_listings, :class => "admin-members-can-post-listings"
              %td{:style => "text-align: center"}
                = check_box_tag "is_admin[#{member.id}]", member.id, member.is_marketplace_admin?(@current_community), :class => "admin-members-is-admin", :disabled => member.eql?(@current_user) || membership.status == 'banned'

              %td{:style => "text-align: center"}
                = check_box_tag "is_banned[#{member.id}]", member.id, membership.status == 'banned',
                  data: {ban_url: ban_admin_community_community_membership_path(@current_community.id, membership.id),
                  unban_url: unban_admin_community_community_membership_path(@current_community.id, membership.id)},
                  class: "admin-members-ban-toggle"
              %td
                = link_to edit_admin_community_community_membership_path(@current_community.id, membership.id), :class => "custom-fields-action-edit" do
                  = icon_tag("edit", ["icon-fix"])

  .row
    .col-12
      = will_paginate @service.memberships
- js_t(['admin.communities.manage_members.ban_user_confirmation',
  'admin.communities.manage_members.unban_user_confirmation',
  'admin.communities.manage_members.this_makes_the_user_an_admin',
  'admin.communities.manage_members.status_filter.all',
  'admin.communities.manage_members.status_filter.selected_js'])

- content_for :extra_javascript do
  :javascript
    window.ST.Memberships.init();

