//= require ./normalize
//= require ./reset
//= require ./topbar
//= require_tree ./sections
//= require ./development


.hero__title,
.info__section--blank,
.info__column-title,
.listings__section,
.info__section--zebra,
.hero__subtitle {
  color: #3C3C3C;
}

.hero__section,
.info__section--blank,
.listings__section,
.info__section--zebra,
.footer__container--light,
.no-cover-photo, .page-content,
.wrapper {
  background-color: #FCFCFC;
}
